---
http_interactions:
- request:
    method: post
    uri: https://crm.zoho.com/crm/private/xml/Leads/insertRecords
    body:
      encoding: UTF-8
      string: newFormat=1&authtoken=204728ae41e4db458723f237f4daf41c&scope=crmapi&xmlData=%3CLeads%3E%3Crow%20no%3D%271%27%3E%3CFL%20val%3D%27First%20Name%27%3EJimi%3C%2FFL%3E%3CFL%20val%3D%27Last%20Name%27%3EHendrix%3C%2FFL%3E%3CFL%20val%3D%27Company%27%3EHendrix%20Greens%3C%2FFL%3E%3CFL%20val%3D%27Email%27%3Etester%40example.tld%3C%2FFL%3E%3CFL%20val%3D%27Phone%27%3E777-888-9999%3C%2FFL%3E%3C%2Frow%3E%3C%2FLeads%3E&wfTrigger=true
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <response uri="/crm/private/xml/Leads/insertRecords"><result><message>Record(s) added successfully</message><recorddetail><FL val="Id">1453831000000118001</FL><FL val="Created Time">2016-01-13 11:17:44</FL><FL val="Modified Time">2016-01-13 11:17:44</FL><FL val="Created By"><![CDATA[Jim Alekson]]></FL><FL val="Modified By"><![CDATA[Jim Alekson]]></FL></recorddetail></result></response>
  recorded_at: Wed, 13 Jan 2016 19:17:44 GMT
recorded_with: VCR 3.0.0
