<div class="row"
<p id="notice"><%= notice %></p>
</div>

<div class="row">

</div>

<div class="row">
<%= link_to 'Edit', edit_application_path(@application), class: "btn-black btn-lg" %> |
<%= link_to 'Back', applications_path, class: "btn-black btn-lg" %>
</div>