<div class="progress-wrapper">
  <p>Bitrate: <span class="bitrate"></span></p>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar">
      0%
    </div>
  </div>
</div>
