<h2>Verifone 510 Specs</h2>
<p>
  Superior performance 
  for faster transaction 
  processing including 
  EMV smart card
</p>
<p>
  Choice of dial, Ethernet 
  or wireless connectivity 
  for power source
</p>
<p>
  Multiple payment and 
  value added applications
</p>
<p>
  PCI PED approved, 
  advanced security 
  including SSL
</p>
<p>
  200 MHz 32 bit RISC 
  processor (fastest in 
  the industry)
</p>
<p>
  Up to 6 MB of lightning 
  fast Dynamically Managed 
  Memory (DMM) for debit, 
  credit EBT and value-added 
  transactions
</p>
<p>
  Optional IP/dial and 
  wireless/dial built into 
  the same device making 
  switching communications 
  easy without attachments
</p>
<p>
  Service offerings through 
  VeriFone Connect make it 
  easy for merchants to 
  accept wireless electronic 
  transactions wherever they 
  have a power source
</p>
<p>
  Supports IP based 
  transactions, building upon 
  the Verix IP infrastructure 
  and its suite of familiar 
  TCP/IP tools
</p>
<p>
  Integrated high speed thermal 
  printer with drop in clam 
  shell loading to simplify 
  paper changing and eliminate 
  jams
</p>