<h2>Verifone 610 Specs</h2>
<p>
  <strong>WIRELESS:</strong> Extend the 
  POS and process 
  transactions anywhere, 
  anytime with wireless 
  connectivity
</p>
<p>
  Great for delivery and 
  outside vendors
</p>
<p>
  Easy to use with familiar 
  software speed 
  implementation 
</p>
<p>
  PCI PED approved with 
  end-to-end security 
  through SSL and other 
  protections
</p>
<p>
  Battery powered with a 
  32-bit processor 
  eliminates need for 
  dongles and charging 
  bases
</p>
<p>
  Familiar and trusted 
  Verix-based platform 
  provides seamless 
  integration with existing 
  Griffen devices
</p>
<p>
  Supports payment and 
  value added 
  applications 
</p>
<p>
  Designed for optimal 
  performance with IP-based 
  transactions
</p>
<p>
  Dual modem design-wireless 
  plus dial for backup 
  operations
</p>
<p>
  Industry leading battery 
  performance with large 
  capacity lithium ion 
  Smart Battery technology
</p>