<div class='row'>
  <div class="page-img account-img col-md-10 col-md-offset-1">
  	<h1>ACCOUNT</h1>
  	<div></div>
  </div>
</div>

<div class="row">  
  <div class="jumbotron col-sm-8 col-sm-offset-2 text-center">
    <h4>
  	  If you are new to the Griffen system, click on "Create Account" to get started.
  	  If you are a returning customer, login to access your account.
    </h4>
    <br/>
  </div>
</div>

<div class="row button-row text-center"> 
  <% if logged_in? %>     
    <%= link_to "MY ACCOUNT", current_user, method: :get, class: "btn btn-lg" %>
  <% else%>    
    <%= link_to "CREATE ACCOUNT", new_user_path, method: :get, class: "btn btn-lg" %> 
  <% end %>
</div>
  
<div class="row button-row text-center">
  <%= link_to "LOGIN", login_path, class: "btn btn-lg" %>
</div> 
