<div class="row">
  <div class="page-img get-img col-md-10 col-md-offset-1">
    <h1>PRODUCTS</h1>
    <div></div>
  </div>
</div>

<div class="row">
  <h1>Financial Legitimacy for the Marijuana Industry</h1>

  <article>
    </br>
    <p class="text-justify lead">
      The legal marijuana industry is a rapidly changing 
      landscape with a bright future. Using current cashless 
      ATM systems and financial solutions that use opaque 
      offshore banks could land a promising legal marijuana 
      business with a financial black mark in the future. 
      The Griffen Solution offers the best way of moving 
      forward in compliance with the Department of Justice 
      guidelines for marijuana dispensaries and recreational 
      stores. Upon full decriminalization of marijuana, 
      businesses will be able to apply for merchant accounts 
      and relationships with credit cards and processors just 
      like anyone else, but until that time, the Griffen is 
      the best path towards financial legitimacy
    </p>
  </article>
  
  <div class="break">
</div>

<div class="row">
  <h2>Verifone Hardware</h2>
  
  <div class="product-spec col-sm-5 col-sm-offset-1 text-left p610">
    <h2>Verifone 610 Specs</h2>
    <p>
      <strong>WIRELESS:</strong> Extend the 
      POS and process 
      transactions anywhere, 
      anytime with wireless 
      connectivity
    </p>
    <p>
      Great for delivery and 
      outside vendors
	</p>
    <p>
      Easy to use with familiar 
      software speed 
      implementation 
    </p>
    <p>
      PCI PED approved with 
      end-to-end security 
      through SSL and other 
      protections
    </p>
    <p>
      Battery powered with a 
      32-bit processor 
      eliminates need for 
      dongles and charging 
      bases
    </p>
    <p>
      Familiar and trusted 
      Verix-based platform 
      provides seamless 
      integration with existing 
      Griffen devices
    </p>
    <p>
      Supports payment and 
      value added 
      applications 
    </p>
    <p>
      Designed for optimal 
      performance with IP-based 
      transactions
    </p>
    <p>
      Dual modem design-wireless 
      plus dial for backup 
      operations
    </p>
    <p>
      Industry leading battery 
      performance with large 
      capacity lithium ion 
      Smart Battery technology
    </p>
  </div>
  
  <ul class="demo-2 effect v610">
    <li>
      <h2 class="zero">Verifone 610</h2>
      <p class="zero">Lorem ipsum dolor sit amet.</p>
    </li>
    <li><%= image_tag("card_swipe.jpg", class: "top") %></li>
  </ul>      

  <ul class="demo-2 effect v510">
    <li>
      <h2 class="zero">Verifone 510</h2>
      <p class="zero">Lorem ipsum dolor sit amet.</p>
    </li>
    <li><%= image_tag("verifone_reader.jpg", class: "top") %></li>
  </ul>
  
  <div class="product-spec col-sm-5 col-sm-offset-1 text-left p510">
    <h2>Verifone 510 Specs</h2>
    <p>
      Superior performance 
      for faster transaction 
      processing including 
      EMV smart card
    </p>
    <p>
      Choice of dial, Ethernet 
      or wireless connectivity 
      for power source
    </p>
    <p>
      Multiple payment and 
      value added applications
    </p>
    <p>
      PCI PED approved, 
      advanced security 
      including SSL
    </p>
    <p>
      200 MHz 32 bit RISC 
      processor (fastest in 
      the industry)
    </p>
    <p>
      Up to 6 MB of lightning 
      fast Dynamically Managed 
      Memory (DMM) for debit, 
      credit EBT and value-added 
      transactions
    </p>
    <p>
      Optional IP/dial and 
      wireless/dial built into 
      the same device making 
      switching communications 
      easy without attachments
    </p>
    <p>
      Service offerings through 
      VeriFone Connect make it 
      easy for merchants to 
      accept wireless electronic 
      transactions wherever they 
      have a power source
    </p>
    <p>
      Supports IP based 
      transactions, building upon 
      the Verix IP infrastructure 
      and its suite of familiar 
      TCP/IP tools
    </p>
    <p>
      Integrated high speed thermal 
      printer with drop in clam 
      shell loading to simplify 
      paper changing and eliminate 
      jams
    </p>
  </div>
  
  <div class="break"></div>
</div>

<div class="row sign-up-button">
  <% if logged_in? %>
    <%= link_to "MY ACCOUNT", current_user, method: :get, class: "btn btn-lg" %>
  <% else%>
    <%= link_to "SIGN UP NOW", new_user_path, method: :get, class: "btn btn-lg" %>
  <% end %>
</div>