<div class="row">
  <h1>Editing Document</h1>
  <br>
  <%= render 'form' %>
</div>

<div class="row index-buttons">
  <%= link_to 'Show', @document, class: "btn-black btn-lg" %>
  <%= link_to 'Back', documents_path, class: "btn-black btn-lg" %>
</div>
