<%= form_for(@document) do |f| %>

<div class="col-xs-10 col-xs-offset-1">      
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>
      <ul>
        <% @document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>  
  <% end %>
</div>

<div class='jumbotron col-md-10 col-md-offset-1'>
      


<div class="row actions">
  <%= f.submit "Submit Application", class: "btn-black btn-lg" %>
</div>
  
</div>
<% end %>



