<%= form_for(@ach) do |f| %>
  <% if @ach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ach.errors.count, "error") %> prohibited this ach from being saved:</h2>

      <ul>
      <% @ach.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
