// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.radio-row {
	margin-bottom: 2em;
	label {
	  width: 6em;
	}
}

.mobile-radio-row {
	@extend .radio-row;
	label {
	  width: auto;
	  position: relative;
	  left: 2em;
	}
}

.phone-line {
	@extend .radio-row;
	label {
	  width: auto;
	}
}

form {
	p {
	  color: #333;
	}
	input[type='checkbox'] {
	  font-size: 2em;
	}
}







