// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.radio-row {
	margin-bottom: 2em;
	label {
	  width: 6em;
	}
}

.mobile-radio-row {
	@extend .radio-row;
	label {
	  width: auto;
	  position: relative;
	  left: 2em;
	}
}

.phone-line {
	@extend .radio-row;
	label {
	  width: auto;
	}
}

.account-type {
	margin-top: 2em;
}

form {
    overflow-x: hidden;
	p {
	  color: #333;
	  font-family: 'Arial';
	}
	input[type='checkbox'] {
	  font-size: 2em;
	}
}

.image-preview {
  img {
    width: 45em;
    height: 25em;
  }
  @media only screen and (max-width: 768px) {
    img {
      width: 35em;
      height: 20em;
    }
  }
  @media only screen and (max-width: 600px) {
    img {
      width: 25em;
      height: 15em;
    }
  }
  @media only screen and (max-width: 440px) {
    img {
      width: 80%;
      height: 10em;
    }
  }
}

.upload {
	margin-top: 4em;
}

.upload-preview {
	margin-bottom: 2em;
}







