/* Base */

#mobile-head {
  display: block;
  width: 100%;
  height: 5em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#toggle-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.4em;
  background-color: #fff;
}

.glyphicon.glyphicon-menu-hamburger {
  font-size: 2em;
  color: #949494;
}

#menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 240px;
  height: 100%;
  padding: 15px 8px;
  margin: 0;
  list-style: none;
  background: #333;
  z-index: 1; 
  overflow-y: scroll;
}

#menu a {
  display: block;
  color: #fff;
  padding: 15px 0px;
  border-bottom: 1px solid rgba( 255, 255, 255, 0.05);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2em;
}

#menu a:hover {
  background: #fff;
  color: #333;
  text-decoration: none;
}

 
/* Animations */

#wrapper, #menu {
  -webkit-backface-visibility: hidden;
}

/* Hide the menu unless it's animating or visible */
.animating #menu, .menu-visible #menu {
  display: block;
}

/***
* If the animating class is present then apply
* the CSS transition to #page over 250ms.
*/
.animating #wrapper {
  transition: transform .25s ease-in-out;
  -webkit-transition: -webkit-transform .25s ease-in-out;
}

/***
* If the left class is present then transform
* the #page element 240px to the left.
*/  
.animating.left #wrapper {
  transform: translate3d( -240px, 0, 0 );
  -webkit-transform: translate3d( -240px, 0, 0 );
}

/***
* If the right class is present then transform
* the #page element 240px to the right.
*/
.animating.right #wrapper {
  transform: translate3d( 240px, 0, 0 );
  -webkit-transform: translate3d( 240px, 0, 0 );
}

/***
* If the menu-visible class is present then
* shift the #page 240px from the right edge
* via position: absolute to keep it in the 
* open position. When .animating, .left and
* .right classes are not present the CSS
* transform does not apply to #page.
*/
.menu-visible #wrapper {
  right: 240px;
} 