/* IMAGES */

.page-img {
  background-repeat: repeat-y;
  height: 25em;
  margin-bottom: 3em;
  color: #fff;
  font-family: 'Calibri';
  h1 {
    font-size: 5.5em;
    font-weight: 100;
    position: relative;
    top: 1.5em;
  }
  div {
    position: relative;
    top: 8em;
    width: 4em;
    height: 1em;
    border-top: 2px solid #fff;
    margin: 0 auto;
  }
  @media only screen and (max-width: 480px) {
    height: 20em;
  }
}

.home-img {
  background-image: url(image_path("sails.jpeg"));
    @media only screen and (max-width: 480px) {
    h1 {
      top: 1.2em;
    }
    div {
      top: 6em;
    }
  }
}

.about-img {
  background-image: image-url("wheat.jpeg");
  @media only screen and (max-width: 480px) {
    h1 {
      top: 1.2em;
    }
    div {
      top: 6em;
    }
  }
}

.get-img {
  background-image: image-url("keyboard.jpg");
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 4.5em;
    }
  }
}

.contact-img {
  background-image: image-url("phone.jpeg");
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 4em;
    }
  }  
}

.account-img {
  background-image: image-url("droplet.jpeg");
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 4em;
    }
  }  
}


/* PRODUCTS PAGE */

.break {
  clear: both;
  width: 50%;
  margin: 0 auto;
  padding-top: 2em;
  border-bottom: 0.2em solid #D3D3D3;
  p {
    font-size: 1.5em;
  }
  @media only screen and (max-width: 768px) {
    width: 80%;
  }
}

.demo-2 {
    position: relative;
    display: inline-block;
    width:25em;
    height:25em;
    margin: 3em;
    overflow:hidden;
    background-color: #444;
    border: solid 4px #444;
    list-style: none;
    @media only screen and (max-width: 992px) {
      width: 20em;
      height: 20em;
    }
    @media only screen and (max-width: 767px) {
      display: block;
      margin: 3em auto;
    }
}

.demo-2 p,.demo-2 h2 {
    color: #fff;
    text-align: center;
}

.demo-2 p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

.demo-2 h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding-top: 1em;
}

.effect img {
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    width: 25em;
    height: 25em;
    @media only screen and (max-width: 992px) {
      width: 20em;
      height: 20em;
    }  
    -webkit-transition: bottom .3s ease-in-out;
       -moz-transition: bottom .3s ease-in-out;
         -o-transition: bottom .3s ease-in-out;
        -ms-transition: bottom .3s ease-in-out;
            transition: bottom .3s ease-in-out;
}

.effect img.top:hover {
    bottom: -6em;
}

h2.zero,p.zero {
    margin: 0;
    padding: 0;
}

.product-spec {
  padding: 2em 1em;
  margin: 1em;
  background-color: #444;
  opacity: 0.9;
  color: white;
  height: auto;
  display: none;
  p {
    margin: 1em;
    font-size: 1em;
  }
}

.p510 {
  float: right;
}
